# 백엔드 실행 모드
# development인 경우 hot reload 기능 및 swagger-ui/scalar 문서 활성화
MODE=production

# Database
# DATABASE_URL="mysql+pymysql://ID:PASSWORD@HOST:PORT/DB_NAME"  # 이 값 설정 시 아래 구성 무시됨
DB_HOST=localhost
DB_PORT=3306
DB_USER=overclock
DB_PASS=overclock
DB_NAME=dbname

# redis 연결 설정
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=
REDIS_DB=0

# 게스트 계정 활성화 여부
# 계정 정보는 app/demo.py 파일 참고
GUEST_LOGIN_ENABLE=true

# production 모드에서 로그인 쿠키 옵션 https only에 사용됨
# IS_HTTPS 우선, 없으면 PROTO이 https인 경우 https only가 적용됨
IS_HTTPS=false
PROTO=http

# 세션 로그인 시 쿠키 서명에 사용되는 SECRET KEY
SECRET_KEY="THIS_IS_A_STRONG_SECRET_KEY"

# allowed/trusted host 설정
ALLOWED_HOSTS="localhost, testserver,api. example.com"
TRUSTED_HOSTS="10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 127.0.0.1"
