# Database
# DATABASE_URL="mysql+pymysql://ID:PASSWORD@HOST:PORT/DB_NAME"  # 이 값 설정 시 아래 구성 무시됨
DB_HOST=localhost
DB_PORT=3306
DB_USER=overclock
DB_PASS=overclock
DB_NAME=dbname

GUEST_LOGIN_ENABLE=true
GUEST_USERNAME=
GUEST_EMAIL=guest@example.com
GUEST_PASSWORD=guest

SECRET_KEY="CHANGE_ME!!!"
