# Database
# DATABASE_URL="mysql+pymysql://ID:PASSWORD@HOST:PORT/DB_NAME"  # 이 값 설정 시 아래 구성 무시됨
DB_HOST=localhost
DB_PORT=3306
DB_USER=overclock
DB_PASS=overclock
DB_NAME=dbname

# redis 연결 설정
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=
REDIS_DB=0

# 게스트 계정 활성화 여부 및 계정 정보
GUEST_LOGIN_ENABLE=true
GUEST_USERNAME=
GUEST_EMAIL=guest@example.com
GUEST_PASSWORD=guest

# 세션 로그인 시 사용되는 SECRET KEY
SECRET_KEY="CHANGE_ME!!!"

# allowed/trusted host 설정
ALLOWED_HOSTS="localhost,testserver,api.example.com"
TRUSTED_HOSTS="10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 127.0.0.1"
